<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="js/forTemplates/hltwManagement.js"></script>
<title>Insert title here</title>
</head>
<body>

	<h1>HLZF-Managen</h1>

	<div id="managementOptions">
		<label>Betreiber: </label>
		<button id="createProvider">anlegen</button>
		<button id="editProvider">bearbeiten</button>
		<br> <label>HLZF: </label>
		<button id="createHltw">anlegen</button>
		<button id="editHltw">bearbeiten</button>
	</div>

	<br>
	<br>

	<div id="managementContainer"></div>

</body>
</html>