<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="js/loadingpage.js"></script>
</head>

<div id="loadingpage-container">

	<p>
		Hier könnten allgemeine Informationen zur Beschaffenheit der Dateien
		stehen!<br>(simple.txt ist für dieses Beispiel formatiert; es
		handelt sich um einen gesamten Jahres-Lastgang (Originaldaten!)) <br>
		(Eine Anleitung um einen Lastgang passend zu formatieren gibt es <a
			href="http://e-scan1.giessel-it.de/doc/HowTo-Lastgangumwandlung_v001.pdf">hier</a>.<br>Alternativ
		einfach eine Mail schreiben!<br>(Dies ist eine vorübergehende
		Lösung, bis eine schöne Lösung gefunden ist!))<br> <b>Vorsicht,
			dies hier ist die noch experimentellere Ecke!</b> <br> <b>Zum
			Zoomen (Horizontal und Vertikal) mit gedrückter Maustaste einen
			Bereich im Diagramm markieren!<br> Um das Diagramm zu
			verschieben, mit "shift" und gedrückter Maustaste die Maus bewegen!
		</b>

	</p>

	<!-- here comes the file-input with progressbar etc! -->
	<form name="wattage">
		<label>Einheit des Verbrauchs:</label> <input type="radio"
			name="wattageGroup" value="KWh" checked="checked">KW<input
			type="radio" name="wattageGroup" value="KW">KWh

	</form>
	<br> <input type="file" id="files" name="file" />
	<button onclick="abortRead();">Laden abbrechen</button>
	<br>
	<div id="progress_bar">
		<div class="percent">0%</div>
	</div>

	<!-- here the graph will be drawn in! -->
	<div id="graph" style="height: 500px; width: 95%;">
		<div id="innerGraph" style="height: 95%; height: 95%;"></div>
	</div>

	<!-- Here the toolbox with tooles related to the graph comes in -->
	<div id="graph_toolbox">
		<br> <label>Zoom definieren:</label>
		<button id="restore_position">Position zurücksetzen</button>
		<label><b> | </b></label> <label>Auf Spitzen zoomen, in</label>
		<button id="zoom_month">Monat</button>
		<button id="zoom_week">Woche</button>
		<button id="zoom_day">Tag</button>
		<button id="zoom_20_max">20% - Max</button>
	</div>

	<!-- here the graph will be drawn in! -->
	<div id="graph-img">
		<button id="generate_png">erzeuge PNG</button>
		<br> <img id="graph_png">
	</div>

	<script type="text/javascript">
		document.getElementById('files').addEventListener('change',
				handleFileSelect, false);
	</script>



</div>