<head>
<meta charset="utf-8">

</head>

<div id="lastgangContent" data-role="tabs">
	<div id="navbar" data-role="navbar">

		<ul>
			<li><a href="#lastgang" data-theme="a" data-ajax="false">Lastgang Sensient</a></li>
			<li><a href="#lastgang" data-theme="a" data-ajax="false">Lastgang Krüger&Gothe</a></li>
		</ul>

		<div id="lastgangContent" data-role="tabs">
			<div id="navbar" data-role="navbar">
				<ul>
					<li><a href="#lastgang" data-theme="a" data-ajax="false">Lastgang</a></li>
					<li><a href="#frequency" data-theme="a" data-ajax="false">Häufigkeitsanalyse</a></li>
				</ul>
			</div>
			<div id="lastgang" class="ui-content">

				<img src="dygraph.png">

			</div>
			<div id="frequency" class="ui-content">
				<img src="frequency.png">
			</div>
		</div>

	</div>
</div>