<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="js/hltwManagement/hltwManagementEditProvider.js"></script>
<title>Insert title here</title>
</head>
<body>

	<label>Namen eintragen: </label>
	<input type="text" id="providerName" style="width: 20em;">
	<label id="editProviderNewNameStatus"
		style="visibility: hidden; display: inline-block; text-align: center;"></label>
	<br>
	<button id="editProviderOK">Bearbeiten</button>
	<label id="editProviderOkStatus"
		style="visibility: hidden; display: inline-block; text-align: center; color: white;"></label>
	<button id="editProviderDEL">Löschen</button>
	<label id="editProviderDelStatus"
		style="visibility: hidden; display: inline-block; text-align: center; color: white;"></label>

	<br>
	<br>
	<label>Hochlastzeitfenster:</label>
	<select id="chooseHltwSelect"><option selected disabled>Bitte
			auswählen</option>
		<option>Hinzufügen</option></select>

</body>
</html>