<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="js/hltwManagement/hltwManagementCreateProvider.js"></script>
<title>Insert title here</title>
</head>
<body>
	<label>Name des Betreibers</label>
	<input type="text" id="providerName">
	<br>
	<button id="createProviderOK">Hinzufügen</button>
	<label id="createProviderOKStatus"
		style="visibility: hidden; display: inline-block; text-align: center;"></label>
</body>
</html>