<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="js/hltwManagement/hltwManagement.js"></script>
<title>Insert title here</title>
</head>
<body>

	<h1>HLZF-Managen</h1>

	<div id="managementOptions">
		<label>Betreiber: </label> <select id="providerEditSelect"><option
				selected disabled>Bitte auswählen</option>
			<option>Hinzufügen</option></select>
	</div>
	<br>
	<div id="managementContainer"></div>
	<div id="hltwManagementContainer"></div>

</body>
</html>