<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="js/hltwManagement/table.js"></script>
<!-- <script src="js/hltwManagement/hltwManagementCreateHltw.js"></script> -->
<title>Insert title here</title>
</head>
<body>
	<br>
	<label>Jahr der Gültigkeit:</label>
	<input id="yearInput" type="year">

	<div id="tableDiv"></div>

	<script type="text/javascript">
	this.table = new Table("tableDiv");
	this.table.initTable();
    </script>

</body>
</html>