<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="js/hltwManagement/hltwManagementCreateHltw.js"></script>
<title>Insert title here</title>
</head>
<body>
	<label>Betreiber auswählen: </label>
	<select id="providerSelect"></select>
	<br>
	<br>
	<table id="hltwTable" border="1px" style="text-align: center;">
		<tr>
			<td>Jahreszeit</td>
			<td>Beginn (Uhrzeit)</td>
			<td>Ende (Uhrzeit)</td>
		</tr>
	</table>
	<button id="addTimeWindow">Zeitfenster hinzufügen</button>
	<br>
	<br>
	<button id="confirmButton">OK</button>

</body>
</html>