<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="js/hltwManagement/hltwManagementEditProvider.js"></script>
<title>Insert title here</title>
</head>
<body>
	<select id="providerEditSelect"></select>
	<label id="editProviderSelectedProviderStatus"
		style="visibility: hidden; display: inline-block; text-align: center;"></label>
	<br>
	<label>neuer Name des Betreibers</label>
	<input type="text" id="providerName">
	<label id="editProviderNewNameStatus"
		style="visibility: hidden; display: inline-block; text-align: center;"></label>
	<br>
	<button id="editProviderOK">OK</button>
	<label id="editProviderOkStatus"
		style="visibility: hidden; display: inline-block; text-align: center; color: white;"></label>
</body>
</html>